body {

    background-color: #005366;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif


}

h1 {
    color: #de2923;
    font-family: Arial, sans-serif;
    padding: 5px;
    margin: 5px;
}

H2 {
    color: #de2923;
    font-family: Arial, sans-serif;
    padding: 5px;
    margin: 5px;
}

p {
    color: #c8d4db;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;

}

a {
    color:#66b3ff;
}

a:hover {
    color: #c8d4db:
}

nav {
    padding: 10px;
    margin: 5px;
}
nav a {
    color: #de2923;
    font-family: Arial, sans-serif;
    padding: 5px;
    margin: 5px;
}
nav a:hover {
    text-decoration: underline;
}
